# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Rust
target/
libark_ffi.so
ark.kt
parkour_db.sqlite3
just_bark.sqlite3

# Documentation
NOTES.md

# Tooling
.claude/
